{% with title='Org Habits - Details | Habit Tracker' %} {% include "header.html"
%} {% endwith %}

<link rel="stylesheet" href="/static/css/habit_details.css" />

<div class="container">
	<h1 class="h3">{{habit['name']}} Details</h1>

	{% for message in get_flashed_messages() %}
	<div class="alert" style="color: red">{{ message }}</div>
	{% endfor %}

	<center>
		<h3 class="h2">
			{{ ((day_progress['completed_days'] / habit['duration']) * 100) | round |
			int }}%
		</h3>
	</center>

	<div class="">
		<div class="progress">
			<div
				class="progress-bar progress-bar-striped bg-success"
				role="progressbar"
				style="width: {{ ((day_progress['completed_days'] / habit['duration']) * 100) | round | int }}%"
				aria-valuenow="50"
				aria-valuemin="0"
				aria-valuemax="100"
			></div>
		</div>
	</div>

	<center>
		<h3 class="h5">
			{{day_progress['completed_days']}}/{{habit['duration']}} Days completed
		</h3>
	</center>

	<center>
		<button onclick="handleIncrementDay()" class="mt-3 btn btn-primary">
			I Completed My Task Today!!
		</button>
	</center>

	<div class="page-content page-container" id="page-content">
		<div class="padding">
			<div class="row">
				<div class="col-sm-6">
					<h1 class="h3">Members</h1>
					{% for user in org_members %}
					<div class="list list-row block">
						<div class="list-item" data-id="19">
							<div>
								<a href="#" data-abc="true"
									><span class="w-48 avatar gd-warning text-uppercase"
										>{{user.name[0]}}</span
									></a
								>
							</div>
							<div class="flex">
								<a href="#" class="item-author text-color" data-abc="true"
									>{{user.name}} ({{user.email}})</a
								>
								<p>{{user['completed_days']}}/{{habit['duration']}}</p>
							</div>
						</div>
					</div>
					{% endfor %}
					<a
						href="/org_habit_details/{{habit['id']}}/invite"
						style="width: 50%"
						class="my-3"
						>+Add Members</a
					>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	const day_btns = document.getElementsByClassName("day-btn");

	Array.from(day_btns).forEach((btn) => {
		btn.addEventListener("click", (ev) => {
			const n = ev.target.dataset.n;
			const hid = ev.target.dataset.hid;

			if (!n) {
				return;
			}

			if (!hid) {
				return;
			}

			window.location.href = "/increment-habit-day/" + hid;
		});
	});
</script>
<script>
	var percentage_completed = {{ ((day_progress['completed_days'] / habit['duration']) * 100) | round | int }}
	var percentage_remains = 100 - percentage_completed;
	var habit_id = {{ habit['id'] }} //org_id
</script>

<script>
	function handleIncrementDay(params) {
		window.location.href = "/increment-org-habit-day/" + habit_id; //org_id
	}
</script>

{% include 'footer.html' %}
